{# templates/admin/index.html.twig #} {% extends 'base.html.twig' %} 
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="card bg-light mb-3 mt-5">
          <div class="card-body">
            <div class="card-header bg-dark text-light">
              <i class="fa fa-btn fa-user"></i> Users
            </div>
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Status</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ')}}</td>
                        <td>{{ (user.approved) ? 'Approved' : 'Declined' }}</td>
                        <td>
                            <a class="btn btn-dark" href="{{ path('admin', {'id': user.id, 'method': (user.approved) ? 'decline' : 'approve'}) }}">
                              <i class="fa fa-btn fa-trash"></i> {{ (user.approved) ? 'Block' : 'Approve' }}
                            </a>
                          </td>
                        <td>
                          <a class="btn btn-dark" href="{{ path('admin', {'id': user.id, 'method': 'delete'}) }}">
                            <i class="fa fa-btn fa-trash"></i> Remove
                          </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
